<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Company.Timekeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Company.Timekeeper.Properties.Settings>
            <setting name="StateNameConfiguration" serializeAs="Xml">
                <value>
                    <ProjectStateNamesCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <DefaultActiveState>Active</DefaultActiveState>
                        <DefaultPausedState>New</DefaultPausedState>
                        <Projects>
                            <ProjectStateNames>
                                <ProjectName>Consol</ProjectName>
                                <ActiveState>Active</ActiveState>
                                <PausedState>Paused</PausedState>
                            </ProjectStateNames>
                            <ProjectStateNames>
                                <ProjectName>Dan M Test Thing</ProjectName>
                                <ActiveState>Active</ActiveState>
                                <PausedState>Paused</PausedState>
                            </ProjectStateNames>
                        </Projects>
                    </ProjectStateNamesCollection>
                </value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Company.Timekeeper.Properties.Settings>
    </applicationSettings>
</configuration>