<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timekeeper.VsExtension.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Timekeeper.VsExtension.Properties.Settings>
            <setting name="SettingsCollection" serializeAs="Xml">
                <value>
                    <ProjectSettingsCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <DefaultActiveState>Active</DefaultActiveState>
                        <DefaultPausedState>New</DefaultPausedState>
                        <CrmConnectionString>Server=https://xrm.felinesoft.com; Username=felinesoft\Dan.Mann;Password=Wangimg1223Apr</CrmConnectionString>
                        <Whitelist>true</Whitelist>
                        <WhitelistedProjects>
                            <string>Consol</string>
                            <string>Dan M Test Thing</string>
                        </WhitelistedProjects>
                        <Projects>
                            <ProjectStateNames>
                                <ProjectName>Consol</ProjectName>
                                <ActiveState>Active</ActiveState>
                                <PausedState>Paused</PausedState>
                            </ProjectStateNames>
                            <ProjectStateNames>
                                <ProjectName>Dan M Test Thing</ProjectName>
                                <ActiveState>Active</ActiveState>
                                <PausedState>Paused</PausedState>
                            </ProjectStateNames>
                        </Projects>
                    </ProjectSettingsCollection>
                </value>
            </setting>
        </Timekeeper.VsExtension.Properties.Settings>
    </userSettings>
</configuration>
